@media screen and (max-width:1000px){
    .registro{
        left:-5%;
    }
    .footer{
        right: 0%;
    }
    .titulo-footer-1{
        position: absolute;
        font-family: cursive;
        font-size:1.1rem;
        right:13%;
        width:50%;
    }
    .titulo-footer-2{
        position: absolute;
        font-family: cursive;
        font-size:1rem;
        right:7%;
        top:10%;
    }
    .titulo-footer-3{
        position: absolute;
        font-family: cursive;
        font-size:1rem;
        right:68%;
        top:10%;
    }
}
@media screen and (max-width:600px){
    .registro{
        left:-21%;
    }
    .footer{
        right:0%;
        width: 100%;
    }
    .titulo-footer-1{
        position: absolute;
        font-family: cursive;
        font-size:1rem;
        right:25%;
        width:40%;
    }
    .titulo-footer-2{
        position: absolute;
        font-family: cursive;
        font-size:0.8rem;
        right:11%;
        top:30%;
    }
    .titulo-footer-3{
        position: absolute;
        font-family: cursive;
        font-size:0.8rem;
        right:58%;
        top:30%;
    }
}
@media screen and (max-width:400px){
    .registro{
        left:-35%;
    }
    .titulo-elemento-tabla{
        font-size:1rem;
    }
    .footer{
        right: 0%;
    }
    .titulo-footer-1{
        position: absolute;
        font-family: cursive;
        font-size:1rem;
        right:20%;
        width: 50%;
    }
    .titulo-footer-2{
        position: absolute;
        font-family: cursive;
        font-size:0.6rem;
        right:14%;
        top:50%;
    }
    .titulo-footer-3{
        position: absolute;
        font-family: cursive;
        font-size:0.6rem;
        right:65%;
        top:50%;
    }
}